absl-py
albucore
albumentations
annotated-types
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
comm
contourpy
coolgpus
cycler
debugpy
decorator
defusedxml
einops
executing
fastjsonschema
filelock
fonttools
fqdn
fsspec
graphviz
grpcio
h11
h5py
hf-xet
httpcore
httpx
huggingface-hub
hydra-core
idna
imageio
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lark
lazy_loader
Markdown
MarkupSafe
matplotlib
matplotlib-inline
MedPy
mistune
mpmath
natsort
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel
notebook
notebook_shim
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
nvitop
omegaconf
opencv-python-headless
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pycparser
pydantic
pydantic_core
Pygments
pylustrator
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
QtAwesome
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
safetensors
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
setuptools
simpleitk
simsimd
six
sniffio
soupsieve
stack-data
stringzilla
sympy
tensorboard
tensorboard-data-server
tensorboardX
terminado
thop
threadpoolctl
tifffile
timm
tinycss2
torch
torchaudio
torchinfo
torchvision
torchviz
tornado
tqdm
traitlets
triton
types-python-dateutil
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
uv
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
yacs
